## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
.pnpm-debug.log
pnpm-lock.yaml

## testing
/coverage/
test/*.spec.js
test/screenshots/**/failed

## temp folders
/.tmp/

# build
_site/
/dist/
/release/
/releases/
/out-tsc/
/.rollup.cache/
.tsbuildinfo

# build artifacts
*.zip
*.js.map
*.d.ts

# log files
*.log
home-assistant*.log

# storybook
storybook-static
custom-elements.json

# project overview
.overview.md
power-flow-card-plus-conditional*.zip

# workflow documentation
release-workflow.mdc